<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Athena </title>
    <link rel="stylesheet" type="text/css" href="/Application/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Application/static/content/site.css" />
    <script src="/Application/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <h1> Athena</h1>
         </div>
    </div>

    <div class="container">
        <div>
            <ul class="menu">
                  <li><a href="{{url_for(static, filename='templates/lstHistorias.html')}}"> Lista de Histórias de Pacientes </a></li>
            </ul>
        </div>

        <div class="container body-content">
        </div>

            <script src="/Application/static/scripts/jquery-1.10.2.js"></script>
            <script src="/Application/static/scripts/bootstrap.js"></script>
            <script src="/Application/static/scripts/respond.js"></script>
    </div>
            {% block scripts %}{% endblock %}

</body>
</html>
