{% block scripts %}
        <h2>Novo Usuário ?</h2>
         <div class="CadastroUsuario">
          <form>
             <p>Caso seja novo usuário, por favor preencha os dados abaixo par ase cadastrar.</p>
             <p>Login <input class="inLogin"> </p>
             <p>Email <input class="inEmail"> </p>
             <p>Senha <input type="password" class="inSenha"> </p>
             <p>Repita a Senha <input type="password" class="inRpSenha"> </p>
             <p>Telefone <input class="inTelefone"> </p>
              <p>Domínio <select class="dominio"></select> </p>
             <p> <button class="btCadastrar" >Cadastrar</button>
                <button class="btCancelar">Cancelar</button> </p>
            </form>
         </div>

{% endblock %}