﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Athena </title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'content/bootstrap.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'content/bootstrap.css' ) }}" />
    <script src="../static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>

{% block scripts %}

    <div class="login">
        <h3>Entrar na Ferramenta </h3>
        <form>
        <div class="EfetuarLogin">
           <p>Login: <input class="login"> </p>
           <p>Senha: <input class="senha"></p>
            <p> <button class="btEntrar" >Conectar</button>
                <button class="btCancelar">Cancelar</button> </p>
            </form>
        </div>
    </div>

  {% include "cadUsuario.html" %}

   <div class="container">
        <ul class="menu">
            <li><a href="{{ url_for('index' ) }} "> Index </a></li>
        </ul>
   </div>

{% endblock %}
</body>
</html>